/* IMPORT FONTS ------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* SEMANTIC and REUSABLE STYLES --------------------------------------------- */
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #4C4C4C;
}
h2 {
  line-height: 48px;
  color: #4BAB3E;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
h4 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}
p {
  line-height: 28px;
}
.highlited {
  color: #3eb54e;
  font-weight: 700;
  margin-right: 16px;
}
.title {
  text-align: center;
}
.button_discord a {
  margin-top: 24px;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 10px 24px;
  padding-left: 56px;
  background-color: #5CB54B;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  background-image: url(../img/icons/discord.svg);
  background-repeat: no-repeat;
  background-position: 12px 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.button_discord a:hover {
  background-color: #61C74E;
}


.top_header {
  background-image: url(../img/slides/global_bg.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  z-index: 1;
  flex-direction: column;
}
.header_content {
  display: flex;
  text-align: center;
}
.divider {
  height: 48px;
  width: 1px;
  background-color: #ffffff;
  opacity: 0.5;
  margin-left: 32px;
  margin-right: 32px;
}
.logo_text {
  line-height: 48px;
  color: #ffffff;
}


/* menu */
.main_menu {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 12px 18px;
  box-sizing: border-box;
}
.main_menu a {
  display: block;
}
.left_side > a {
  width: 32px;
  height: 32px;
}
.right_side {
  display: flex;
}
.right_side a {
  margin-left: 8px;
  width: 32px;
  height: 32px;
}
.right_side p {
  margin-top: 3px;
  color: #B8B8B8;
  font-size: 14px;
  margin-right: 12px;
}
.left_side {
  display: flex;
}
.left_side ul {
  display: flex;
  margin-left: 16px;
}
.left_side ul li a {
  display: block;
  padding: 2px 0;
  color: #B8B8B8;
  margin-right: 16px;
  font-size: 14px;
  transition: color 0.3s;
}
.left_side ul li a:hover {
  color: #ffffff;
}
.mobile_menu_btn {
  display: none;
  margin-left: 8px;
  cursor: pointer;
}
.dropdown_desktop {
  position: relative;
  cursor: pointer;
  padding-top: 3px;
}
.dropdown_desktop span {
  display: block;
  font-size: 14px;
  color: #B8B8B8;
}
.dropdown_desktop ul {
  display: block;
  position: absolute;
  width: 240px;
  margin-left: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: margin-top 0.3s;
  display: none;
}
.dropdown_desktop ul li a {
  background-color: #000000;
  padding: 8px 16px;
}
.dropdown_desktop ul li:first-child a {
  border-radius: 8px 8px 0 0;
}
.dropdown_desktop ul li:last-child a {
  border-radius: 0 0 8px 8px;
}
#one {
  border-radius: 8px;
}
.top_menu {
  margin-top: -204px;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100500;
}
.fixed_bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100500;
}
.padding {
  margin-bottom: 56px;
}


.mobile_menu {
  position: absolute;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: none;
}
.close_btn {
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: rgba(204, 204, 204, 0.5);
  border-radius: 100px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
  margin-bottom: 16px;
  cursor: pointer;
}
.mobile_menu ul li a {
  color: #ffffff;
  background-color: #000000;
  display: block;
  padding: 8px 16px;
}
.mobile_menu ul li:first-child a {
  border-radius: 8px 8px 0 0;
}
.mobile_menu ul li:last-child a {
  border-radius: 0 0 8px 8px;
}
.dropdown_mobile {
  background-color: #000000;
  border-radius: 0 0 8px 8px;
}
.dropdown_mobile ul {
  display: none;
}
.dropdown_mobile > ul > li > a {
  color: #B8B8B8;
}
.arrow_block {
  position: absolute;
  bottom: 20%;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    bottom: 120px;
  }
  50% {
    bottom: 100px;
  }
	100% {
    bottom: 120px;
  }
}
.coin_data {
  background-color: rgba(0,0,0,.4);
  display: flex;
  border-radius: 500px;
  margin-top: 32px;
  width: 400px;
  margin-bottom: 16px;
}
.info_icon {
  height: 24px;
  position: absolute;
  padding: 8px;
}
.coin_info_stats {
  line-height: 24px;
  text-align: center;
  color: #cccccc;
  overflow: hidden;
  height: 40px;
  width: 400px;
  position: relative;
}
.coin_stats_inner {
  position: relative;
}
.stats {
  width: 400px;
  padding: 8px;
  box-sizing: border-box;
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s;
}
.stats span {
  color: #ffffff;
  font-weight: 600;
}
.stats_1, .stats_2, .stats_3, .stats_4, .stats_5, .stats_6 {
  display: none;
}

/* content */

.section_block {
  display: flex;
  align-items: center;
}
.row {
  flex: 1 0 0;
}
.gray_block {
  background-color: #F6F6F6;
}
.dark_block {
  background-color: #000000;
  color: #ffffff;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 32px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.col {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.left_col {
  padding-right: 32px;
}
.right_col {
  padding-left: 32px;
}
.col img {
  width: 100%;
  height: auto;
}
.team {
  text-align: center;
}
.team > p {
  margin-bottom: 80px!important;
}
.team p {
  max-width: 740px;
  margin: 0 auto;
}
.team_block {
  display: flex;
}
.member {
  flex-grow: 1;
}
.member img {
  width: 90%;
  height: auto;
  transform: scale(0.7);
  z-index: -1;
}
.member p {
  margin-top: -48px;
  font-weight: 600;
  color: #3eb54e;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 32px;
}
.partners_block {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}
.partner_1 {
  padding: 16px;
  flex-grow: 1;
  margin: 10px;

  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.04);
}
.partner_1 a {
  display: block;
}
.partner_1 a img {
  width: 100%;
  height: auto;
}
.top_block_footer {
  display: flex;
  justify-content: center;
}
.logo_name {
  font-weight: 600;
  font-size: 32px;
  margin-left: 16px;
}
.wallets {
  font-size: 32px;
  margin-left: 8px;
  font-weight: 300;
}
.version {
  margin-left: 18px;
  margin-top: 2px;
}
.partners_logo {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 548px;
}
.links_bottom {
  text-align: center;
  margin-top: 24px;
}
.links_bottom a {
  color: #ffffff;
}


.wallet_logo_block {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 64px;
}
.wallet_container {
  flex: 1 0 0;
  background-color: rgba(94, 94, 94, 1);
  margin-right: 16px;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  opacity: 1;
  position: relative;
  transition: opacity 0.3s;
}
.wallet_container a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.wallet_container a p {
  flex-grow: 1;
  padding: 16px 24px;
}
.wallet_container a img {
  padding: 16px 24px;
  flex-grow: 0;
}
.dropdown {
  position: absolute;
  margin-top: 16px;
  display: none;
  z-index: 100500;
}
.dropdown::before {
  width: 0;
  content: "";
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(255, 255, 255, 1);
  display: block;
  text-align: center;
  margin: 0 auto;
}
.dropdown a:first-child {
  border-radius: 4px 4px 0 0;
}
.dropdown a:last-child {
  border-radius: 0 0 4px 4px;
}
.dropdown a {
  background-color: rgba(255, 255, 255, 1);
  display: block;
  box-sizing: border-box;
  transition: background-color 0.3s;
  color: #000000;
  display: flex;
}
.dropdown a:hover {
  background-color: rgba(226, 226, 226, 1);
}
.wallet_container_selected {
  background-color: rgba(94, 94, 94, 0.5);
}
.col video {
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 50px 50px #F6F6F6 inset;
}
.box_container {
  max-width: 1200px;
  width: 100%;
  padding: 32px;
  margin: 0 auto;
  box-sizing: border-box;
}
.green {
  color: #3eb54e;
}

/* table */
.table {
  border-bottom: 1px solid #ddd;
}

  .table > div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-top: 1px solid #ddd;
  }

    .table > div > div {
      border-left: 1px solid #ddd;
      padding: 15px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }
    .table > div > div:last-child {
      border-right: 1px solid #ddd;
    }

    .table > div > div:nth-child(1) {
      width: 20%;
    }
    .table > div > div:nth-child(2) {
      width: 30%;
    }
    .table > div > div:nth-child(3) {
      width: 30%;
    }
    .table > div > div:nth-child(4) {
      width: 20%;
    }

    .table > div > div.half {
      width: 50%;
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    .table .no_padding {
      padding: 0;
    }

    .table > div > div > div.inner {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex: 1 1 100%;
      border-top: 1px solid #ddd;
    }

    .table > div > div > div.inner.vertical {
      flex-direction: column;
      align-items: stretch;
    }
    .table > div > div > div.inner.vertical > div {
      flex: 1 1 100%;
      padding: 15px;
      box-sizing: border-box;
      width: 100% !important;
      border-left: none;
      border-top: 1px solid #ddd;
    }
    .table > div > div > div.inner.vertical > div:first-child {
      border-top: none;
    }

    .table > div > div > div.inner:first-of-type {
      border-top: none;
    }

    .table > div > div > div.inner > div {
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }

    .table > div > div > div.inner > div {
      border-left: 1px solid #ddd;
    }
    .table > div > div > div.inner > div:nth-child(1) {
      width: calc(60% + 1px);
      border-left: none;
    }
    .table > div > div > div.inner > div:nth-child(2) {
      width: 40%;
    }

    .table > div > div.third {
      width: 80%;
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    .table > div > div.third > div.inner > div:nth-child(1) {
      width: 37.5%;
    }

    .table > div > div.third > div.inner > div:nth-child(2) {
      width: 37.5%;
    }

    .table > div > div.third > div.inner > div:nth-child(3) {
      width: 25%;
    }

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.prop_container {
  border: 2px solid #3eb54e;
  background: #FFFFFF;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 100px;
  text-align: center;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  width: 240px;
}
.prop_container_second {
  padding: 8px 24px;
  border-radius: 100px;
  text-align: center;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  width: 240px;
  margin-bottom: 40px;
}

.dotted {
  list-style-type: circle;
  margin-left: 24px;
  margin-top: 8px;
}
.numbers {
  list-style-type: disc;
  margin-left: 24px;
  margin-top: 8px;
}

/* stats page */
.dashboard {
  background-color: #101112;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.grid_container {
  display: flex;
  flex-direction: row;
}
/* left side */
.left_side_block_coin {
  flex: 2 0 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  margin-left: 32px;
}
.swither {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 0;
  flex-basis: 80px;
}
.swither_box {
  background: #0D0D0E;
  border: 2px solid #1A1C1E;
  border-radius: 4px;
  padding: 10px 16px;
}
.coin_box_block {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}
.coin_price_block {
  flex: 1 0 0;
  display: flex;
}
.first_price {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
  border: 2px solid #101112;
}
.second_price {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #101112;
}
.btc_price {
  font-size: 44px;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 64px;
}
.usd_price {
  font-size: 28px;
  color: rgba(255,255,255,0.50);
  text-align: center;
  line-height: 40px;
}
.coin_graph_block {
  flex: 1 0 0;
  margin-bottom: 64px;
  margin-top: 32px;
  position: relative;
}
.apexcharts-toolbar {
  display: none!important;
}
.toggle_period {
  position: absolute;
  right: 0px;
  display: flex;
  margin-right: 8px;
}
.tg_btn {
  padding: 4px 12px;
  font-size: 12px;
  background-color: red;
  margin-left: 8px;
  cursor: pointer;
  z-index: 100500;
  background: #0D0D0E;
  border: 2px solid #1A1C1E;
  border-radius: 4px;
}
.tg_btn_2 {
  padding: 4px 12px;
  font-size: 12px;
  background-color: red;
  margin-left: 8px;
  cursor: pointer;
  z-index: 100500;
  background: #0D0D0E;
  border: 2px solid #1A1C1E;
  border-radius: 4px;
}
.tg_btn_active {
  background: rgba(75,171,62,0.20);
  border: 2px solid #4BAB3E;
}
.apexcharts-tooltip.light {
  color: #000000!important;
}
.apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom {
  background-color: #000000!important;
  border: none!important;
}
.apexcharts-xaxistooltip {
  display: none!important;
}
.network_map_block iframe {
  width: 100%;
  height: 85vh;
  border-radius: 4px;
}
.network_map_block {
  display: none;
}
/* rigth side */
.right_side_block_coin {
  flex: 0 0 0;
  height: 100vh;
  display: flex;
  flex-basis: 640px;
}
.box_left {
  flex: 1 0 0;
  flex-direction: column;
  display: flex;
  margin-bottom: 56px;
}
.box_right {
  flex: 1 0 0;
  flex-direction: column;
  display: flex;
  margin-bottom: 56px;
}
.box {
  background: #0D0D0E;
  flex: 1 0 0;
  margin-bottom: 8px;
  margin-right: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px solid rgba(75,171,62,0.0);
}
.description_coin {
  opacity: 0.5;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 4px;
}
.data_coin {
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
}
.block_plus {
  background: rgba(75,171,62,0.20);
  border: 2px solid #4BAB3E;
  border-radius: 4px;
  background-image: url(../img/inc.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.block_minus {
  background: rgba(238,96,86,0.20);
  border: 2px solid #EE6056;
  border-radius: 4px;
  background-image: url(../img/dec.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
/* graph */
@media (max-width: 1600px) {
  .description_coin {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px;
  }
  .data_coin {
    font-size: 18px;
    line-height: 24px;
  }
  .btc_price {
    font-size: 32px;
    line-height: 56px;
  }
  .usd_price {
    font-size: 22px;
    line-height: 28px;
  }
  .right_side_block_coin {
    flex-basis: 480px;
  }
  .apexcharts-title-text {
    display: none;
  }
  .toggle_period {
    margin-top: -12px;
  }
}
@media (max-width: 1200px) {
  .description_coin {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 4px;
  }
  .data_coin {
    font-size: 16px;
    line-height: 22px;
  }
  .btc_price {
    font-size: 32px;
    line-height: 56px;
  }
  .usd_price {
    font-size: 22px;
    line-height: 28px;
  }
  .right_side_block_coin {
    flex-basis: 400px;
  }
}
@media (max-width: 1024px) {
  .grid_container {
    flex-direction: column;
  }
  .coin_box_block {
    display: block;
  }
  .left_side_block_coin {
    display: block;
    height: auto;
  }
  .right_side_block_coin {
    flex-basis: auto;
    height: 680px;
  }
  .coin_graph_block {
    margin-bottom: 32px;
  }
  .box {
    margin-left: 8px;
  }
  .toggle_period {
    position: inherit;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 56px;
  }
  .swither {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (max-width: 600px) {
  .coin_price_block {
    display: block;
  }
  .first_price {
    margin-right: 0px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .swither {
    margin-top: 32px;
  }
  .description_coin {
    font-size: 11px;
  }
  .data_coin {
    font-size: 14px;
  }
}
.livecoinwatch-widget-1 {
    width: 400px!important;
  }

.three_blocks {
  display: flex;
}
.single_block {
  flex: 1 0 0;
  margin-right: 32px;
  margin-left: 32px;
  text-align: center;
}
.service_logo {
  background-color: #ffffff;
  display: flex;
  /*width: 314px;*/
  height: 100px;
  border-radius: 4px;
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
}
.service_logo img {
  width: 100%;
  height: auto;
  align-items: center;
}
.single_block h2 {
  margin-bottom: 32px;
  font-size: 28px;
}


/* -------------------------------------------------------------------------- */

