/* IMPORT FONTS ------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* GENERAL STYLES ----------------------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
a {
  color: #4BAB3E;
  text-decoration: none;
}

/* menu */

.main_menu {
  background-color: #000000;
  padding: 12px 18px;
  box-sizing: border-box;
  z-index: 10050000;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main_menu::after {
  content: '';
  display: block;
  clear: both;
}

.left_side_menu {
  display: flex;
  float: left;
}

.fixed_add {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.small_logo {
  height: 32px;
}

.small_divider {
  height: 32px;
  width: 1px;
  background-color: #2A2A2A;
  margin-left: 16px;
  margin-right: 24px;
}
.menu_items {
  padding-top: 5px;
}
.menu_items ul {
  display: flex;
}
.menu_items ul li a {
  color: #B8B8B8;
  margin-right: 24px;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}
.menu_items ul li a:hover {
  color: #ffffff;
}

.social {
  float: right;
  display: flex;
  color: #ffffff;
  padding-top: 4px;
}

.social p {
  font-size: 14px;
}

.social a {
  margin-left: 16px;
  height: 24px;
  width: 24px;
  display: block;
}

.social a img {
  width: 100%;
  height: auto;
}

.mobile_button {
  color: #ffffff;
  display: none;
  font-size: 14px;
  cursor: pointer;
  height: 32px;
}

.mobile_menu_items {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  z-index: 3;
  display: none;
  z-index: 1006000;
}
.mobile_menu_items ul li a {
  display: block;
  background-color: #000000;
  width: 100%;
  padding: 16px 24px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
}
.mobile_menu_items ul li:first-child a {
  border-radius: 8px 8px 0 0;
}
.mobile_menu_items ul li:last-child a {
  border-radius: 0 0 8px 8px;
}

.close_buttom {
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: rgba(204, 204, 204, 0.5);
  border-radius: 100px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
  margin-bottom: 16px;
}


/* MEDIA */
@media (max-width: 720px) {

  .partners {
    position: inherit;
    bottom: auto;
  }
  .logo_media {
    margin-left: auto;
    margin-right: auto;
  }

  .footer_links {
    position: inherit;
    bottom: auto;
  }

  .wallet_logo_block {
    flex-direction: column;
  }

  .top_block_footer  {
    flex-flow: column;
  }

  .wallet_container {
    margin-bottom: 24px;
  }

  .top_block_footer > img, .top_block_footer > p  {
    margin-bottom: 16px;
  }

  .divider {
    display: none;
  }

  .social p {
    display: none;
  }

  .user_info {
    margin-bottom: 16px;
    padding-top: 0px;
  }

  .top_block_footer  {
    margin-top: 80px;
  }

}



@media (max-width: 860px) {
  .menu_items ul {
    display: none;
  }
  .mobile_button {
    display: block;
  }
  .menu_items {
    padding-top: 0px;
  }
}

@media (max-width: 540px) {
  .timer {
    width: 320px;
  }
  .footer_links a {
    display: block;
    text-align: center;
    margin-bottom: 8px;
  }
  .data {
    font-size: 24px;
  }
  .timer_divider {
    margin-left: 8px;
    margin-right: 8px;
  }
  .indicator {
    font-size: 11px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
@media (max-width: 320px) {
  .timer {
    width: 280px;
  }
  .small_logo {
    display: none;
  }
  .small_divider {
    display: none;
  }
}

/* all */
.dashboard {
  background-color: #101112;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.grid_container {
  display: flex;
  flex-direction: row;
}
/* left side */
.left_side {
  flex: 2 0 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  margin-left: 32px;
}
.swither {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 0;
  flex-basis: 80px;
}
.swither_box {
  background: #0D0D0E;
  border: 2px solid #1A1C1E;
  border-radius: 4px;
  padding: 10px 16px;
}
.coin_box_block {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}
.coin_price_block {
  flex: 1 0 0;
  display: flex;
}
.first_price {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
  border: 2px solid #101112;
}
.second_price {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #101112;
}
.btc_price {
  font-size: 44px;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 64px;
}
.usd_price {
  font-size: 28px;
  color: rgba(255,255,255,0.50);
  text-align: center;
  line-height: 40px;
}
.coin_graph_block {
  flex: 1 0 0;
  margin-bottom: 64px;
  margin-top: 32px;
  position: relative;
}
.apexcharts-toolbar {
  display: none!important;
}
.toggle_period {
  position: absolute;
  right: 0px;
  display: flex;
  margin-right: 8px;
}
.tg_btn {
  padding: 4px 12px;
  font-size: 12px;
  background-color: red;
  margin-left: 8px;
  cursor: pointer;
  z-index: 100500;
  background: #0D0D0E;
  border: 2px solid #1A1C1E;
  border-radius: 4px;
}
.tg_btn_2 {
  padding: 4px 12px;
  font-size: 12px;
  background-color: red;
  margin-left: 8px;
  cursor: pointer;
  z-index: 100500;
  background: #0D0D0E;
  border: 2px solid #1A1C1E;
  border-radius: 4px;
}
.tg_btn_active {
  background: rgba(75,171,62,0.20);
  border: 2px solid #4BAB3E;
}
.apexcharts-tooltip.light {
  color: #000000!important;
}
.apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom {
  background-color: #000000!important;
  border: none!important;
}
.apexcharts-xaxistooltip {
  display: none!important;
}
.network_map_block iframe {
  width: 100%;
  height: 85vh;
  border-radius: 4px;
}
.network_map_block {
  display: none;
}
/* rigth side */
.right_side {
  flex: 0 0 0;
  height: 100vh;
  display: flex;
  flex-basis: 640px;
}
.box_left {
  flex: 1 0 0;
  flex-direction: column;
  display: flex;
  margin-bottom: 56px;
}
.box_right {
  flex: 1 0 0;
  flex-direction: column;
  display: flex;
  margin-bottom: 56px;
}
.box {
  background: #0D0D0E;
  flex: 1 0 0;
  margin-bottom: 8px;
  margin-right: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px solid rgba(75,171,62,0.0);
}
.description_coin {
  opacity: 0.5;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 4px;
}
.data_coin {
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
}
.block_plus {
  background: rgba(75,171,62,0.20);
  border: 2px solid #4BAB3E;
  border-radius: 4px;
  background-image: url(../img/inc.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.block_minus {
  background: rgba(238,96,86,0.20);
  border: 2px solid #EE6056;
  border-radius: 4px;
  background-image: url(../img/dec.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
/* graph */
@media (max-width: 1600px) {
  .description_coin {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px;
  }
  .data_coin {
    font-size: 18px;
    line-height: 24px;
  }
  .btc_price {
    font-size: 32px;
    line-height: 56px;
  }
  .usd_price {
    font-size: 22px;
    line-height: 28px;
  }
  .right_side {
    flex-basis: 480px;
  }
  .apexcharts-title-text {
    display: none;
  }
  .toggle_period {
    margin-top: -12px;
  }
}
@media (max-width: 1200px) {
  .description_coin {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 4px;
  }
  .data_coin {
    font-size: 16px;
    line-height: 22px;
  }
  .btc_price {
    font-size: 32px;
    line-height: 56px;
  }
  .usd_price {
    font-size: 22px;
    line-height: 28px;
  }
  .right_side {
    flex-basis: 400px;
  }
}
@media (max-width: 1024px) {
  .grid_container {
    flex-direction: column;
  }
  .coin_box_block {
    display: block;
  }
  .left_side {
    display: block;
    height: auto;
  }
  .right_side {
    flex-basis: auto;
    height: 680px;
  }
  .coin_graph_block {
    margin-bottom: 32px;
  }
  .box {
    margin-left: 8px;
  }
  .toggle_period {
    position: inherit;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 56px;
  }
  .swither {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (max-width: 600px) {
  .coin_price_block {
    display: block;
  }
  .first_price {
    margin-right: 0px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .swither {
    margin-top: 32px;
  }
  .description_coin {
    font-size: 11px;
  }
  .data_coin {
    font-size: 14px;
  }
}
/* -------------------------------------------------------------------------- */
